.semiBox{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 70px;
    text-align: center;
}

@media(max-width:700px){
    .semiBox{
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-top: 30px;
        padding-bottom: 30px;
        gap: 15px;
    }
}