.mainUl {
    position: absolute;
    width: 100%;
    top: 40px;
    padding: 0;
    height: 410px;
    overflow-y:auto;
    z-index: 8;
}

.productLi{
    list-style-type: none;
    width: 95%;
    background-color: #fcd423;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid black;
    border-radius: 8px;
    &:hover {
        background-color: #6a3c2c;
        color: white !important;
    }
    
}

.titleSpan{
    color: black;
}