.numOfProducts{
    height: 25px;
    width: 25px;
    background-color: #fcd423;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 7;
    position:absolute;
    top: -5;
    right: -5;
}