.navbarInner {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%; 
    font-weight: bold;
    background: #8c9674;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 7;
    border-bottom: 2px solid black;
}

.shopNow{
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    } 


.allLink, .vegeLink, .fruitLink, .nutsLink {
    font-weight: bold !important;
    &:hover {
        background-color: #6a3c2c !important;
        color: white !important;
        font-weight: bold;
    }

}
.loginBtn{
    font-weight: bold !important;
}

.userName {
 font-size: 1rem;
 width: 170px;
 margin-left: -20px;
}


@media (max-width:1000px){
    .navbarInner{
        width:auto;
    }
    .shopNow{
        &:hover{
            transform: none;
        }
    }
    .loginBtn{
        margin-top: 10px;
    }
} 